<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Acme|PT+Serif:700|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <header>
      <h1>Acme Users PG-13!</h1>
    </header>

    <nav>
      <a href="/" {% if page == '' %} class="active pg-btn-default" {% else %} class="pg-btn-default" {% endif %}><li>Home</li></a>
      <a href="/users" {% if page == 'users' %} class="active pg-btn-default" {% else %} class="pg-btn-default" {% endif %}><li>Users</li></a>
      <a href="/users/managers" {% if page == 'managers' %} class="active pg-btn-default" {% else %} class="pg-btn-default" {% endif %}><li>Managers</li></a>
    </nav>


    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
