{% extends 'layout.html' %}

{% block content %}

  {% for user in allUsers %}
    <li>
      {{ user.name }}
      {{ user.is_manager }}
      {% if user.is_manager %}
        MANAGER!!
      {% else %}
        <form class="" action="/users/{{user.id}}?_method=PUT" method="POST">
          <input type="submit" name="promote" value="Make me maanger!!">
        </form>
        <form class="" action="/users/{{user.id}}?_method=DELETE" method="POST">
          <input type="submit" name="" value="Noooo">
        </form>
      {% endif %}
    </li>
  {% endfor %}

{% endblock %}
